@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
 :root{
     --red: red;
 }
body{
    align-items: center;
    background-image:
    url("https://wallpapercave.com/wp/wp1874157.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
    transition: all .2s linear;
}
*::selection{
    background: var(--red);
    
}
html{
    font-size: larger;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

header{
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .7);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ee0515;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}
.navbar ul li:hover::after{
    width: 100%;
}
header .logo{
    font-size: 1.6rem;
    font-weight: bolder;
    color: rgb(53, 48, 48);
}
header .logo i{
    padding-right: .5rem;
    color: var(--red);
}
header .navbar a{
    
    color: rgb(53, 48, 48);
}
.firstpage h1{
    text-align: center;
    color: #000000;
    font-size: 5rem;
}

.sign{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.heading{
    margin: 20px;
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
}
.form{
    padding: 20px;
}
#form{
    padding: 10px;
    height: 20px;
}
.container{
  text-align: center;
  max-width: 50%;
  background-color: aliceblue;
  padding: 50px;
  margin: 80px 50px 70px 350px;
}
.heading{
  color: #ee0515;
}
.form{
  font-size: larger;
  margin: 2px;
}
#submit{
    background-color: rgb(237, 53, 20);
    color: aliceblue;
}

  
  